
.preloader{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100px;
    p{
      margin-bottom: 0;
    }
  }
  .Todo-list.md-list{
    margin-left: 30x !important;
  }